
$bgUrlMobile: "../../imgs/mobile/bg-image-daytime.jpg";
$bgUrlTablet: "../../imgs/tablet/bg-image-daytime.jpg";
$bgUrlDesktop: "../../imgs/desktop/bg-image-daytime.jpg";

$bgNightUrlMobile: "../../imgs/mobile/bg-image-nighttime.jpg";
$bgNightUrlTablet: "../../imgs/tablet/bg-image-nighttime.jpg";
$bgNightUrlDesktop: "../../imgs/desktop/bg-image-nighttime.jpg";

$bg-gradient :linear-gradient(rgba(0, 0, 0, 0.45), rgba(36, 36, 36, 0.192))